# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# ENVIRONMENT CONFIGURATION FOR VPS / CLOUD SERVEr
# ------------------------------------------------
NODE_ENV=production
PORT=3000

# APP URL (The public URL of your application)
VITE_APP_URL=https://basa-tutor.hellothereshamim.workers.dev/

# RESEND CONFIGURATION
RESEND_API_KEY=re_AfPWaQtb_LrtpSw83FoyatYQKN9EEkQRe
VITE_RESEND_FROM="noreply@mssalumni.org"
# URL of your deployed Cloudflare Worker that handles sending emails (leave blank for local proxy to work)
VITE_EMAIL_WORKER_URL=https://email-service.hellothereshamim.workers.dev/


# Firebase Configuration (Usually automated by set_up_firebase)
VITE_FIREBASE_API_KEY=AIzaSyA8INm0h9iUN7Lleids_AUn1AzHstLhISg
VITE_FIREBASE_AUTH_DOMAIN=academic-domain-2rr5c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=academic-domain-2rr5c
VITE_FIREBASE_STORAGE_BUCKET=academic-domain-2rr5c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=733851683894
VITE_FIREBASE_APP_ID=1:733851683894:web:618bd8800e40f1eeabdc97
